name: Psalm

on:
  push:
    paths:
      - '**.php'
      - 'psalm*'
      - 'composer.json'
  pull_request:
    paths:
      - '**.php'
      - 'psalm*'
      - 'composer.json'

jobs:
  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: none

      - name: Install composer dependencies
        run: composer install -n --prefer-dist

      - name: Run Psalm
        run: ./vendor/bin/psalm --threads=2 --output-format=github --shepherd
