name: Test Laravel app

on:
  push:
    paths:
      - '**.php'
      - '**.stubphp'
      - 'composer.json'
      - 'tests/laravel*'
      - '.github/workflows/test-laravel.yml'
  pull_request:
    paths:
      - '**.php'
      - '**.stubphp'
      - 'composer.json'
      - 'tests/laravel*'
      - '.github/workflows/test-laravel.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test Laravel ${{ matrix.laravel-installer-version }} (PHP ${{ matrix.php-version }})

    strategy:
      fail-fast: true
      matrix:
        php-version:
          - '8.3'
          - '8.4'
          - '8.5'
        laravel-installer-version:
          - '12.11.2'
          - 'dev-master'

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-version }}
        coverage: none

    - name: Build a Laravel project and run Psalm on it
      run: |
        LARAVEL_INSTALLER_VERSION=${{ matrix.laravel-installer-version }} ./tests/Application/laravel-test.sh

    - run: |
        echo "Psalm analysis failed on a fresh Laravel project. Please consider updating baseline: tests/Application/laravel-test-psalm-baseline.xml"
      if: ${{ failure() }}