name: Test Laravel app

on:
  push:
    paths:
      - '**.php'
      - '**.stubphp'
      - 'composer.json'
      - 'tests/laravel*'
      - '.github/workflows/test-laravel.yml'
  pull_request:
    paths:
      - '**.php'
      - '**.stubphp'
      - 'composer.json'
      - 'tests/laravel*'
      - '.github/workflows/test-laravel.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test Laravel app

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.3
        coverage: none

    - name: Build a Laravel project and run Psalm on it
      run: |
        ./tests/Application/laravel-test.sh

    - run: |
        echo "Psalm analysis failed on a fresh Laravel project. Please consider updating baseline: tests/Application/laravel-test-baseline.xml"
      if: ${{ failure() }}